<!DOCTYPE html>
<html lang="en" id="root" class="h-full">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>

  <!-- Bundled CSS (includes Tailwind) -->
  <link rel="stylesheet" href="{{jsOutDir}}/{{cssBundle}}?ver=1" />

  {{CSS_EXTEND}}
</head>

<body class="h-full w-full m-0 p-2 overflow-hidden font-sans text-sm">

  {{NAVBAR}}

  <div id="root-div" class="absolute left-0 right-0 bottom-0 z-10">

    <div id="cy-leaflet" class="absolute inset-0 p-0 z-0 hidden"></div>

    <div id="cy" tabindex="0" class="absolute inset-0 p-0 z-10"></div>

    <div id="shortcut-display"
      class="fixed bottom-4 left-4 flex flex-col-reverse items-start space-y-reverse space-y-1"></div>

    {{VIEWPORT_DRAWER_LAYOUT}}
    {{VIEWPORT_DRAWER_TOPOLOGY_OVERVIEW}}
    {{VIEWPORT_DRAWER_CAPTURE_SCEENSHOOT}}
    {{VIEWPORT_DRAWER_SHORTCUTS}}
    {{PANEL_NODE}}
    {{PANEL_GROUP}}
    {{PANEL_NODE_EDITOR}}
    {{PANEL_NETWORK_EDITOR}}
    {{PANEL_TOPOVIEWER_ABOUT}}
    {{PANEL_LINK}}
    {{PANEL_LINK_EDITOR}}
    {{PANEL_BULK_LINK}}
    {{PANEL_FREE_TEXT}}
    {{WIRESHARK_MODAL}}
    {{UNIFIED_FLOATING_PANEL}}
    {{CONFIRM_DIALOG}}
    {{SCRIPTS}}
  </div>

</body>

</html>
