<!DOCTYPE html>
<html lang="en" id="root" class="h-full">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TopoViewer Editor</title>

  <!-- Bundled CSS (includes Tailwind) -->
  <link rel="stylesheet" href="{{jsOutDir}}/topoViewerEditorStyles.css?ver=1" />

    <!-- CSS Assets -->
    <link rel="stylesheet" href="{{cssUri}}/cytoscape-leaflet.css?ver=1" />
</head>

<body class="h-full w-full m-0 p-2 overflow-hidden font-sans text-sm">

  {{NAVBAR}}

  <div id="root-div" class="absolute inset-0 z-10">

    <div id="cy-leaflet" class="absolute inset-0 pt-10 pb-0 px-10 z-0 hidden"></div>

    <div id="cy" class="absolute inset-0 pt-10 pb-0 z-10"></div>

    {{VIEWPORT_DRAWER_LAYOUT}}
    {{VIEWPORT_DRAWER_TOPOLOGY_OVERVIEW}}
    {{VIEWPORT_DRAWER_CAPTURE_SCEENSHOOT}}
    {{PANEL_NODE}}
    {{PANEL_NODE_EDITOR_PARENT}}
    {{PANEL_NODE_EDITOR}}
    {{PANEL_TOPOVIEWER_ABOUT}}
    {{PANEL_LINK}}
    {{PANEL_LINK_EDITOR}}
    {{WIRESHARK_MODAL}}
    {{SCRIPTS}}
  </div>

</body>

</html>
