<p class="m-0 p-0">
  <button id="viewport-add-clab-node" title="Add Containerlab Node"
    onclick="window.topologyWebviewController.addNodeManager.viewportButtonsAddContainerlabNode(window.topologyWebviewController.cy, event); return false;"
    class="btn-icon-hover-clean">
    <span class="inline-flex items-center justify-center text-xl">
      <i class="fa-solid fa-plus"></i>
    </span>
  </button>
</p>

<p class="m-0 p-0">
  <button id="viewport-undo" title="Undo (Ctrl+Z on YAML file)"
    onclick="viewportButtonsUndo()"
    class="btn-icon-hover-clean">
    <span class="inline-flex items-center justify-center text-xl">
      <i class="fa-solid fa-rotate-left"></i>
    </span>
  </button>
</p>
