      <p class="m-0 p-0">
        <button id="viewport-zoom-to-fit" title="Fit to Viewport"
          onclick="window.topoViewerEditorEngine.zoomToFitManager.viewportButtonsZoomToFit(window.topoViewerEditorEngine.cy); return false;"
          class="btn btn-icon focus:outline-none">
          <span class="inline-block text-sm">
            <i class="fas fa-expand"></i>
          </span>
        </button>
      </p>

      <p class="m-0 p-0">
        <button id="viewport-add-clab-node" title="Add Containerlab Node"
          onclick="window.topoViewerEditorEngine.addNodeManager.viewportButtonsAddContainerlabNode(window.topoViewerEditorEngine.cy, event); return false;"
          class="btn btn-icon focus:outline-none">
          <span class="inline-block text-sm">
            <i class="fa-solid fa-plus"></i>
          </span>
        </button>
      </p>

      <p class="m-0 p-0">
        <button id="viewport-layout" title="Layout Manager" onclick="viewportButtonsLayoutAlgo(event)"
          class="btn btn-icon focus:outline-none">
          <span class="inline-block text-sm">
            <i class="fas fa-circle-nodes"></i>
          </span>
        </button>
      </p>

      <p class="m-0 p-0">
        <button id="viewport-topology-overview" title="Find Node" onclick="viewportButtonsTopologyOverview(event)"
          class="btn btn-icon focus:outline-none">
          <span class="inline-block text-sm">
            <i class="fa-solid fa-binoculars"></i>
          </span>
        </button>
      </p>

      <p class="m-0 p-0">
        <button id="viewport-label-endpoint" title="Toggle Endpoint Label"
          onclick="window.topoViewerEditorEngine.labelEndpointManager.viewportButtonsLabelEndpoint(window.topoViewerEditorEngine.cy); return false;"
          class="btn btn-icon focus:outline-none">
          <span class="inline-block text-sm">
            <i class="fas fa-tag"></i>
          </span>
        </button>
      </p>

      <p class="m-0 p-0">
        <button id="viewport-add-group" title="Add Group"
          onclick="window.topoViewerEditorEngine.groupManager.createNewParent(window.topoViewerEditorEngine.cy, {createDummyChild: true}); return false;"
          class="btn btn-icon focus:outline-none">
          <span class="inline-block text-sm">
            <i class="fa-solid fa-notes-medical"></i>
          </span>
        </button>
      </p>

      <p class="m-0 p-0">
        <button id="viewport-capture-viewport" title="Capture Viewport as SVG"
          onclick="window.topoViewerEditorEngine.captureViewportManager.viewportButtonsCaptureViewportAsSvg(window.topoViewerEditorEngine.cy); return false;"
          class="btn btn-icon focus:outline-none">
          <span class="inline-block text-sm">
            <i class="fa-solid fa-camera"></i>
          </span>
        </button>
      </p>

      <p class="m-0 p-0">
        <button id="viewport-reload-topo" title="Reload TopoViewer"
          onclick="window.topoViewerEditorEngine.reloadTopoManager.viewportButtonsReloadTopo(window.topoViewerEditorEngine.cy);return false;"
          class="btn btn-icon focus:outline-none">
          <span class="inline-block text-sm">
            <i class="fa-solid fa-arrow-rotate-right"></i>
          </span>
        </button>
      </p>

      <p class="m-0 p-0">
        <button id="viewport-save-topo" title="Save TopoViewer"
          onclick="window.topoViewerEditorEngine.saveManager.viewportButtonsSaveTopo(window.topoViewerEditorEngine.cy); return false;"
          class="btn btn-icon focus:outline-none">
          <span class="inline-block text-sm">
            <i class="fa-solid fa-floppy-disk"></i>
          </span>
        </button>
      </p>

      <hr id="viewport-geo-map-divider" class="my-1 viewport-geo-map hidden border-t border-default">

      <p class="m-0 p-0">
        <button id="viewport-geo-map-pan" title="#" onclick="viewportButtonsGeoMapPan(event)"
          class="btn btn-icon btn-secondary focus:outline-none viewport-geo-map hidden">
          <span class="inline-block text-sm">
            <i class="fa-solid fa-hand"></i>
          </span>
        </button>
      </p>

      <p class="m-0 p-0">
        <button id="viewport-geo-map-edit" title="#" onclick="viewportButtonsGeoMapEdit(event)"
          class="btn btn-icon btn-secondary focus:outline-none viewport-geo-map hidden">
          <span class="inline-block text-sm">
            <i class="fa-solid fa-arrow-pointer"></i>
          </span>
        </button>
      </p>
