<nav class="navbar py-0 h-[4rem]" role="navigation" aria-label="main navigation">
  <!-- Left: Logo + Title -->
  <div class="navbar-brand flex items-center space-x-4 px-2">
    <a href="https://containerlab.dev/" target="_blank" rel="noopener noreferrer">
      <img id="nokia-logo-img" src="{{imagesUri}}/{{logoFile}}" alt="Containerlab Logo" class="h-10 w-auto block" />
    </a>
    <div class="flex flex-col leading-tight">
      <p class="text-xl font-semibold select-none">containerlab</p>
      <p class="text-sm font-light text-gray-500 select-none">
        <span>{{navSubtitle}} · {{topologyName}}</span>
      </p>
    </div>
  </div>

  <div id="viewport-buttons">
    <div class="flex flex-row justify-evenly space-x-1">
      {{NAVBAR_EXTEND}}
    </div>
  </div>
</nav>
