<!-- Node Parent Properties Editor Panel -->
<section class="panel panel-overlay bottom-10 left-10 w-[340px] max-h-[700px] overflow-y-auto overflow-x-hidden"
  id="panel-node-editor-parent" aria-labelledby="node-panel-heading" style="display: none;">
  <p class="panel-heading text-xs">
    Group Properties
  </p>
  <div class="p-0 pl-4 pb-2">
    <div class="panel-block p-0">
      <div class="px-0">

        <!-- Group Id -->
        <div class="my-1">
          <div class="p-0.5">
            <div class="flex items-center">
              <div class="w-1/3 pr-1">
                <label class="label text-xs text-right">Id</label>
              </div>
              <div class="w-2/3 pl-2">
                <label class="text-xs text-left font-normal break-words" id="panel-node-editor-parent-graph-group-id">
                  group-id-placeholder
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- Label Position -->
        <div class="my-1">
          <div class="p-0.5">
            <div class="flex items-center">
              <div class="w-1/3 pr-1">
                <label class="label text-xs text-right">Label Position</label>
              </div>
              <div class="w-2/3 pl-2">
                <div class="relative group" id="panel-node-editor-parent-label-dropdown">
                  <button class="pl-0 btn btn-small inline-flex items-center" onclick="panelNodeEditorParentToggleDropdown()">
                    <span id="panel-node-editor-parent-label-dropdown-button-text">Select Position</span>
                    <span class="ml-2 text-xs">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                  <div class="dropdown-menu hidden left-0 w-full"
                    id="panel-node-editor-parent-label-dropdown-menu">
                    <div class="py-1 max-h-20 overflow-y-auto">
                      <a href="#" class="py-1 dropdown-item text-xs">top-center</a>
                      <a href="#" class="py-1 dropdown-item text-xs">top-left</a>
                      <a href="#" class="py-1 dropdown-item text-xs">top-right</a>
                      <a href="#" class="py-1 dropdown-item text-xs">bottom-center</a>
                      <a href="#" class="py-1 dropdown-item text-xs">bottom-left</a>
                      <a href="#" class="py-1 dropdown-item text-xs">bottom-right</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Graph Group -->
        <div class="my-1">
          <div class="p-0.5">
            <div class="flex items-center">
              <div class="w-1/3 pr-1">
                <label class="label text-xs text-right">Graph Group</label>
              </div>
              <div class="w-2/3 pl-2 pr-4">
                <input type="text" class="input-field text-xs" id="panel-node-editor-parent-graph-group">
              </div>
            </div>
          </div>
        </div>

        <!-- Graph Level -->
        <div class="my-1">
          <div class="p-0.5">
            <div class="flex items-center">
              <div class="w-1/3 pr-1">
                <label class="label text-xs text-right">Graph Level</label>
              </div>
              <div class="w-2/3 pl-2 pr-4">
                <input type="text" class="input-field text-xs" id="panel-node-editor-parent-graph-level">
              </div>
            </div>
          </div>
        </div>

        <!-- Action Buttons -->
        <div class="my-1">
          <div class="p-0.5">
            <div class="flex items-center">
              <div class="w-1/3 pr-1"></div>
              <div class="w-2/3 pl-2 pr-4 ">
                <div class="flex justify-end space-x-2">
                  <button class="btn btn-danger btn-small"
                    id="panel-node-editor-parent-delete-button" onclick="nodeParentRemoval()">
                    Remove
                  </button>
                  <button class="btn btn-secondary btn-small"
                    id="panel-node-editor-parent-close-button" onclick="nodeParentPropertiesUpdateClose()">
                    Close
                  </button>
                  <button class="btn btn-primary btn-small"
                    onclick="nodeParentPropertiesUpdate()">
                    Update
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
