<!-- Node Editor Panel -->
<div class="panel panel-overlay fixed bottom-10 left-20 w-[360px] z-[21] draggable-panel"
  id="panel-node-editor" style="display: none;">
  <p class="panel-heading text-base font-bold">
    Node Properties Editor
  </p>
  <div class="p-0 pl-4 pb-2">
    <div class="panel-block p-0">
      <div class="px-0">

        <!-- Node Name -->
        <div class="my-1">
          <div class="p-0.5">
            <div class="flex items-center">
              <div class="w-2/5 pr-1">
                <label class="label text-right text-sm font-semibold">Node Name</label>
              </div>
              <div class="w-3/5 pl-2 pr-2">
                <input type="text" class="input-field w-full text-sm font-extralight" id="panel-node-editor-name">
              </div>
            </div>
          </div>
        </div>

        <!-- Kind Dropdown -->
        <div class="my-1">
          <div class="p-0.5">
            <div class="flex items-center">
              <div class="w-2/5 pr-1">
                <label class="label text-right text-sm font-semibold">Kind</label>
              </div>
              <div class="w-3/5 pl-2 pr-2">
                <div id="panel-node-kind-dropdown-container" class="text-sm font-extralight">
                  <!-- Filterable dropdown will be inserted here -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Type Dropdown/Input -->
        <div class="my-1">
          <div class="p-0.5">
            <div class="flex items-center">
              <div class="w-2/5 pr-1">
                <label class="label text-right text-sm font-semibold">Type</label>
              </div>
              <div class="w-3/5 pl-2 pr-2">
                <div id="panel-node-type-dropdown-container" style="display: none;" class="text-sm font-extralight">
                  <!-- Filterable dropdown will be inserted here -->
                </div>
                <input type="text" class="input-field w-full text-sm font-extralight"
                  id="panel-node-editor-type-input" style="display: none;" placeholder="Enter type">
              </div>
            </div>
          </div>
        </div>

        <!-- Icon Dropdown -->
        <div class="my-1">
          <div class="p-0.5">
            <div class="flex items-center">
              <div class="w-2/5 pr-1">
                <label class="label text-right text-sm font-semibold">Icon</label>
              </div>
              <div class="w-3/5 pl-2 pr-2">
                <div id="panel-node-topoviewerrole-dropdown-container" class="text-sm font-extralight">
                  <!-- Filterable dropdown will be inserted here -->
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- Image -->
        <div class="my-1">
          <div class="p-0.5">
            <div class="flex items-center">
              <div class="w-2/5 pr-1">
                <label class="label text-right text-base text-sm font-semibold">Image</label>
              </div>
              <div class="w-3/5 pl-2 pr-2">
                <input type="text" class="input-field w-full text-sm font-extralight" id="panel-node-editor-image">
              </div>
            </div>
          </div>
        </div>

        <!-- Group -->
        <div class="my-1">
          <div class="p-0.5">
            <div class="flex items-center">
              <div class="w-2/5 pr-1">
                <label class="label text-right text-base font-semibold">Group</label>
              </div>
              <div class="w-3/5 pl-2 pr-2">
                <input type="text" class="input-field w-full text-sm font-extralight" id="panel-node-editor-group">
              </div>
            </div>
          </div>
        </div>

        <!-- Buttons -->
        <div class="my-1">
          <div class="p-0.5">
            <div class="flex items-center">
              <div class="w-2/5 pr-1"></div>
              <div class="w-3/5 pl-2 pr-2">
                <div class="space-x-2">
                  <button class="btn btn-primary btn-small text-sm font-extralight" id="panel-node-editor-save-button">Save</button>
                  <button class="btn btn-outlined btn-small text-sm font-extralight" id="panel-node-editor-close-button">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>