<!-- Node Properties Panel -->
<section class="panel panel-overlay bottom-10 left-20 w-[360px] max-h-[700px] overflow-y-auto overflow-x-hidden draggable-panel"
  id="panel-node" aria-labelledby="node-panel-heading" style="display: none;">
  <p class="panel-heading text-base font-bold" id="node-panel-heading">
    Node Properties
  </p>
  <div class="p-0 pl-4 pb-2">
    <div class="panel-block p-0">
      <div class="px-0">
        <!-- Node Name and Actions -->
        <div class="my-1">
          <div class="p-0.5">
            <div class="flex items-center">
              <div class="w-2/5 pr-1">
                <label class="label text-right text-base font-semibold">Node Name</label>
              </div>
              <div class="w-3/5 pl-2">
                <label class="text-left font-extralight text-base break-words" id="panel-node-name">
                  node-name-placeholder
                </label>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Node Properties List -->
    <div class="panel-block p-0">
      <div class="px-0">
        <!-- Kind -->
        <div class="my-1">
          <div class="p-0.5">
            <div class="flex items-center">
              <div class="w-2/5 pr-1">
                <label class="label text-right text-base font-semibold">Kind</label>
              </div>
              <div class="w-3/5 pl-2">
                <label class="text-left font-extralight text-base break-words" id="panel-node-kind">
                  node-kind-placeholder
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- Image -->
        <div class="my-1">
          <div class="p-0.5">
            <div class="flex items-center">
              <div class="w-2/5 pr-1">
                <label class="label text-right text-base font-semibold">Image</label>
              </div>
              <div class="w-3/5 pl-2">
                <label class="text-left font-extralight text-base break-words" id="panel-node-image">
                  node-image-placeholder
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- State -->
        <div class="my-1">
          <div class="p-0.5">
            <div class="flex items-center">
              <div class="w-2/5 pr-1">
                <label class="label text-right text-base font-semibold">State</label>
              </div>
              <div class="w-3/5 pl-2">
                <label class="text-left font-extralight text-base break-words" id="panel-node-state">
                  node-state-placeholder
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- Management IPv4 -->
        <div class="my-1">
          <div class="p-0.5">
            <div class="flex items-center">
              <div class="w-2/5 pr-1">
                <label class="label text-right text-base font-semibold">Management IPv4</label>
              </div>
              <div class="w-3/5 pl-2">
                <label class="text-left font-extralight text-base break-words" id="panel-node-mgmtipv4">
                  node-mgmtipv4-placeholder
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- Management IPv6 -->
        <div class="my-1">
          <div class="p-0.5">
            <div class="flex items-center">
              <div class="w-2/5 pr-1">
                <label class="label text-right text-base font-semibold">Management IPv6</label>
              </div>
              <div class="w-3/5 pl-2">
                <label class="text-left font-extralight text-base break-words" id="panel-node-mgmtipv6">
                  node-mgmtipv6-placeholder
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- FQDN -->
        <div class="my-1">
          <div class="p-0.5">
            <div class="flex items-center">
              <div class="w-2/5 pr-1">
                <label class="label text-right text-base font-semibold">FQDN</label>
              </div>
              <div class="w-3/5 pl-2">
                <label class="text-left font-extralight text-base break-words" id="panel-node-fqdn">
                  node-fqdn-placeholder
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- Icon -->
        <div class="my-1">
          <div class="p-0.5">
            <div class="flex items-center">
              <div class="w-2/5 pr-1">
                <label class="label text-right text-base font-semibold">Icon</label>
              </div>
              <div class="w-3/5 pl-2">
                <label class="text-left font-extralight text-base break-words" id="panel-node-topoviewerrole">
                  node-topoviewerrole-placeholder
                </label>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
