    <!-- Node Properties Panel -->
    <section class="panel panel-overlay" 
      id="panel-node" aria-labelledby="node-panel-heading" style="display: none;">
      <header class="panel-heading text-xs" id="node-panel-heading">
        Node Properties
      </header>
      <div class="p-0">
        <div class="panel-block p-0">
          <div class="px-0">
            <!-- Node Name and Actions -->
            <div class="my-auto">
              <div class="p-3">
                <div class="flex items-center">
                  <div class="w-1/3 pr-1">
                    <label class="label text-xs text-right">Node Name</label>
                  </div>
                  <div class="w-2/3 pl-3">
                    <label class="text-xs text-left font-normal break-words" id="panel-node-name">
                      node-name-placeholder
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <!-- Actions Dropdown -->
            <div class="my-auto">
              <div class="p-3">
                <div class="flex items-center">
                  <div class="w-1/3 pr-1">
                    <label class="label text-xs text-right"></label>
                  </div>
                  <div class="w-2/3 pl-3">
                    <div class="relative group">
                      <button class="btn btn-small inline-flex items-center">
                        <span>Actions</span>
                        <span class="ml-2 text-xs">
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                      <div class="dropdown-menu hidden group-hover:block left-0 w-48" id="panel-node-action-dropdown-menu">
                        <div class="py-1">
                          <a onclick="nodeActionConnectToSSH(event);"
                            class="dropdown-item text-xs">
                            Connect to SSH
                          </a>
                          <a onclick="nodeActionAttachShell(event);"
                            class="dropdown-item text-xs">
                            Attach Shell
                          </a>
                          <a onclick="nodeActionViewLogs(event);"
                            class="block px-4 py-1 text-xs font-normal text-gray-200 hover:bg-gray-600 cursor-pointer">
                            View Logs
                          </a>
                          <a onclick="nodeActionRemoveFromParent(event);"
                            class="block px-4 py-1 text-xs font-normal text-gray-200 hover:bg-gray-600 cursor-pointer">
                            Release From Group
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Node Properties List -->
        <div class="panel-block p-0">
          <div class="px-0">
            <!-- Kind -->
            <div class="my-auto">
              <div class="p-3">
                <div class="flex items-center">
                  <div class="w-1/3 pr-1">
                    <label class="label text-xs text-right">Kind</label>
                  </div>
                  <div class="w-2/3 pl-3">
                    <label class="text-xs text-left font-normal text-gray-200 break-words" id="panel-node-kind">
                      node-kind-placeholder
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!-- Image -->
            <div class="my-auto">
              <div class="p-3">
                <div class="flex items-center">
                  <div class="w-1/3 pr-1">
                    <label class="label text-xs text-right">Image</label>
                  </div>
                  <div class="w-2/3 pl-3">
                    <label class="text-xs text-left font-normal text-gray-200 break-words" id="panel-node-image">
                      node-image-placeholder
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!-- State -->
            <div class="my-auto">
              <div class="p-3">
                <div class="flex items-center">
                  <div class="w-1/3 pr-1">
                    <label class="label text-xs text-right">State</label>
                  </div>
                  <div class="w-2/3 pl-3">
                    <label class="text-xs text-left font-normal text-gray-200 break-words" id="panel-node-state">
                      node-state-placeholder
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!-- Management IPv4 -->
            <div class="my-auto">
              <div class="p-3">
                <div class="flex items-center">
                  <div class="w-1/3 pr-1">
                    <label class="label text-xs text-right">Management IPv4</label>
                  </div>
                  <div class="w-2/3 pl-3">
                    <label class="text-xs text-left font-normal text-gray-200 break-words" id="panel-node-mgmtipv4">
                      node-mgmtipv4-placeholder
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!-- Management IPv6 -->
            <div class="my-auto">
              <div class="p-3">
                <div class="flex items-center">
                  <div class="w-1/3 pr-1">
                    <label class="label text-xs text-right">Management IPv6</label>
                  </div>
                  <div class="w-2/3 pl-3">
                    <label class="text-xs text-left font-normal text-gray-200 break-words" id="panel-node-mgmtipv6">
                      node-mgmtipv6-placeholder
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!-- FQDN -->
            <div class="my-auto">
              <div class="p-3">
                <div class="flex items-center">
                  <div class="w-1/3 pr-1">
                    <label class="label text-xs text-right">FQDN</label>
                  </div>
                  <div class="w-2/3 pl-3">
                    <label class="text-xs text-left font-normal text-gray-200 break-words" id="panel-node-fqdn">
                      node-fqdn-placeholder
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!-- Icon -->
            <div class="my-auto">
              <div class="p-3">
                <div class="flex items-center">
                  <div class="w-1/3 pr-1">
                    <label class="label text-xs text-right">Icon</label>
                  </div>
                  <div class="w-2/3 pl-3">
                    <label class="text-xs text-left font-normal text-gray-200 break-words" id="panel-node-topoviewerrole">
                      node-topoviewerrole-placeholder
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Node Parent Properties Editor Panel -->
    <section class="fixed bottom-10 left-10 w-[340px] max-h-[700px] overflow-y-auto overflow-x-hidden z-[9999] bg-gray-800 dark:bg-gray-900 border border-gray-700 rounded-lg shadow-xl" 
