    <div id="viewport-buttons" class="fixed top-[75px] left-10 z-[9] bg-gray-800 dark:bg-gray-900 p-2 rounded-lg shadow-md flex" style="display: block; height: auto;">
      <div class="flex flex-col justify-evenly space-y-1">

        <p class="m-0 p-0">
          <button id="viewport-zoom-to-fit" title="Fit to Viewport" onclick="viewportButtonsZoomToFit(event)"
            class="px-3 py-3 text-xs bg-gray-700 hover:bg-gray-600 text-white rounded focus:outline-none">
            <span class="inline-block text-sm">
              <i class="fas fa-expand"></i>
            </span>
          </button>
        </p>

        <p class="m-0 p-0">
          <button id="viewport-layout" title="Layout Manager" onclick="viewportButtonsLayoutAlgo(event)"
            class="px-3 py-3 text-xs bg-gray-700 hover:bg-gray-600 text-white rounded focus:outline-none">
            <span class="inline-block text-sm">
              <i class="fas fa-circle-nodes"></i>
            </span>
          </button>
        </p>

        <p class="m-0 p-0">
          <button id="viewport-topology-overview" title="Find Node" onclick="viewportButtonsTopologyOverview(event)"
            class="px-3 py-3 text-xs bg-gray-700 hover:bg-gray-600 text-white rounded focus:outline-none">
            <span class="inline-block text-sm">
              <i class="fa-solid fa-binoculars"></i>
            </span>
          </button>
        </p>

        <p class="m-0 p-0">
          <button id="viewport-label-endpoint" title="Toggle Endpoint Label" onclick="viewportButtonsLabelEndpoint()"
            class="px-3 py-3 text-xs bg-gray-700 hover:bg-gray-600 text-white rounded focus:outline-none">
            <span class="inline-block text-sm">
              <i class="fas fa-tag"></i>
            </span>
          </button>
        </p>

        <p class="m-0 p-0">
          <button id="viewport-reload-topo" title="Add Group" onclick="viewportButtonsAddGroup()"
            class="px-3 py-3 text-xs bg-gray-700 hover:bg-gray-600 text-white rounded focus:outline-none">
            <span class="inline-block text-sm">
              <i class="fa-solid fa-notes-medical"></i>
            </span>
          </button>
        </p>

        <p class="m-0 p-0">
          <button id="viewport-capture-viewport" title="Capture Viewport as SVG" onclick="viewportButtonsCaptureViewportAsSvg(cy)"
            class="px-3 py-3 text-xs bg-gray-700 hover:bg-gray-600 text-white rounded focus:outline-none">
            <span class="inline-block text-sm">
              <i class="fa-solid fa-camera"></i>
            </span>
          </button>
        </p>

        <p class="m-0 p-0">
          <button id="viewport-reload-topo" title="Reload TopoViewer" onclick="viewportButtonsReloadTopo()"
            class="px-3 py-3 text-xs bg-gray-700 hover:bg-gray-600 text-white rounded focus:outline-none">
            <span class="inline-block text-sm">
              <i class="fa-solid fa-arrow-rotate-right"></i>
            </span>
          </button>
        </p>

        <p class="m-0 p-0">
          <button id="viewport-save-topo" title="Save TopoViewer" onclick="viewportButtonsSaveTopo(cy)"
            class="px-3 py-3 text-xs bg-gray-700 hover:bg-gray-600 text-white rounded focus:outline-none">
            <span class="inline-block text-sm">
              <i class="fa-solid fa-floppy-disk"></i>
            </span>
          </button>
        </p>

        <hr id="viewport-geo-map-divider" class="my-1 viewport-geo-map hidden border-t border-gray-600">

        <p class="m-0 p-0">
          <button id="viewport-geo-map-pan" title="#" onclick="viewportButtonsGeoMapPan(event)"
            class="px-3 py-3 text-xs bg-gray-600 hover:bg-gray-500 text-white rounded focus:outline-none viewport-geo-map hidden">
            <span class="inline-block text-sm">
              <i class="fa-solid fa-hand"></i>
            </span>
          </button>
        </p>

        <p class="m-0 p-0">
          <button id="viewport-geo-map-edit" title="#" onclick="viewportButtonsGeoMapEdit(event)"
            class="px-3 py-3 text-xs bg-gray-600 hover:bg-gray-500 text-white rounded focus:outline-none viewport-geo-map hidden">
            <span class="inline-block text-sm">
              <i class="fa-solid fa-arrow-pointer"></i>
            </span>
          </button>
        </p>

      </div>
    </div>
    
