    <!-- Capture Screenshot Drawer -->
    <div id="viewport-drawer-capture-sceenshoot" class="panel fixed top-[75px] left-[90px] w-[300px] z-[8] p-1" style="display: none;">
      <div class="p-2 pb-2">
        <div class="flex flex-col">
          <div class="pb-0">
            <label class="label text-xs font-semibold">Capture Screenshot</label>
          </div>
          <div class="pb-0">
            <div class="mb-2 text-sm">
              <p>
                This panel allows to capture the topology screenshot.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="viewport-drawer-capture-sceenshoot-content" class="layout-algo p-2 hidden">
        <div class="space-y-2">
          <div class="flex items-center">
            <label class="label text-xs w-24 text-right pr-3">PNG</label>
            <input type="checkbox" value="option01" class="rounded">
          </div>
          <div class="flex items-center">
            <label class="label text-xs w-24 text-right pr-3">Draw.IO</label>
            <input type="checkbox" value="option02" class="rounded">
          </div>
        </div>
      </div>
      <div class="layout-algo p-2 pb-2 block" id="viewport-drawer-capture-sceenshoot-button">
        <div class="flex justify-end">
          <button onclick="viewportDrawerCaptureFunc(event)"
            class="btn btn-primary btn-small">
            Capture
          </button>
        </div>
      </div>
    </div>

